<html>
<head>
	<meta charset="UTF-8">
	<title>Find</title>
	<link type="image/x-icon" rel="shortcut icon" href="favicon.ico">
	<link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css">
	<link type="text/css" rel="stylesheet" href="../static/css/styles.css">
	<link type="text/css" rel="stylesheet" href="../static/css/jquery.simple-dtpicker.css">
</head>
<body>
	<div id="main-carousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#main-carousel" data-slide-to="0" class="active"></li>
			<li data-target="#main-carousel" data-slide-to="1"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<div class="item active">
				<img src="../static/img/login-banner.png">
				<div class="carousel-description">
					<h2>在浙大找到你想要的</h2>
					<p>WE ARE IN ZHEJIANG UNIVERSITY</p>
				</div>
			</div>
			<div class="item">
				<img src="../static/img/carousel-bg2.jpg">
				<div class="carousel-description">
					<h2>在浙大找到你想要的</h2>
					<p>WE ARE IN ZHEJIANG UNIVERSITY</p>
				</div>
			</div>
		</div>

		<!-- Controls -->
		<a class="left carousel-control" href="#main-carousel" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a class="right carousel-control" href="#main-carousel" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div>

	<div class="login-logo">
		<div class="login-logo-bg"></div>
		<div class="login-logo-img">
			<img src="../static/img/logo.png">
		</div>
	</div>

	<div class="container">
		<div class="header">
			<h1>登录<small>Login</small></h1>
		</div>
		<form name="login-form" class="login-form" role="form" method="post">
			<div class="form-group">
				<input name="name" type="text" class="form-control" id="loginName" placeholder="E-mail">
				<input name="pwd" type="password" class="form-control" id="loginPassword" placeholder="Password">
			</div>
			<div class="login-btn-group">
				<a id="registerBtn" class="btn btn-lg btn-primary login-form-btn" href="/register">注册</a>
				<input id="loginBtn" type="submit" class="btn btn-lg btn-primary login-form-btn">登录</button>
			</div>
			<div class="login-form-footer row">
				<label class="checkbox pull-left">
					<input type="checkbox" name="login-auto" checked="checked"> 下次自动登录
				</label>
				<a href="forget-pwd.html" class="pull-right">忘记密码？</a>
			</div><br>
		</form>

		<footer id="footer">
			Find 1.0 ALPHA. Copyright © 2013 Find项目组. <br>
			All rights reserved. {{error}}
		</footer>
	</div>
<script src="../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/jquery.simple-dtpicker.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
	var t = setTimeout(function(){
		tSlide = setInterval(function(){
			if (document.body.scrollTop > 370 || Math.abs(document.body.clientHeight - document.documentElement.clientHeight) <= (document.documentElement.scrollTop || document.body.scrollTop)) clearInterval(tSlide);
			document.body.scrollTop += 2;
		}, 1);
	}, 500);
});
</script>
</body>
</html>