<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>上传照片</title>
		<meta http-equiv="Content-language" content="zh-CN">
		<!--meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT-->
	</head>

	<body>
	    <form action="/api/picture/set" method=post enctype=multipart/form-data>
	      <p><input type=file name="file">	         
	         <input name="album_id">
	         <input name="pic_type">
	         <input type=submit value=Upload>
	         <p>{{error}}</p>
	    </form>
	</body>
</html>