<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>觅TA</title>
		<meta http-equiv="Content-language" content="zh-CN">
		<!--meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT-->
	</head>

	<body>
	    <form action="" method=post enctype=multipart/form-data>
	    	<input name="letter-content"></input>
			<input class="btn btn-primary btn-lg btn-block" type="submit" value="保存"></input>
			{% for amu in AMU %}
			<p>{{amu[0]}}</p>
			<img src={{amu[1].photo_src}}>
			<p>{{amu[1].declaration}}</p>
			{% endfor %}
	    </form>
	</body>
</html>